<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ appName }}</title>
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <style>
        body, html {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
        }
        img {
            width: 100%;
            height: auto;
            display: block;;
        }
    </style>
</head>
<body>
    <img src="{{ resourcesDomain }}{{ imgPath }}" />
</body>
</html>